.entry-grid {
  column-count: 5;
  column-gap: 12px;
  padding-top: 12px;
}

@media (max-width: 1280px) {
  .entry-grid {
    column-count: 4;
  }
}

@media (max-width: 960px) {
  .entry-grid {
    column-count: 3;
  }
}

@media (max-width: 640px) {
  .entry-grid {
    column-count: 2;
  }
}

@media (max-width: 420px) {
  .entry-grid {
    column-count: 1;
  }
}
