@layer layout {
  .shell {
    margin: 0 auto;
    max-width: 1600px;
    padding: 0 var(--space-gutter) var(--space-9);
  }

  .shell--admin {
    max-width: 1200px;
  }

  .collection {
    margin: 0 auto;
    max-width: 1800px;
    padding: 0 var(--space-gutter) var(--space-9);
  }
}
